package tpcc.client;

import java.sql.*;
import tpcc.pyxis.PyxisTransactionExecutor;

public class TestMain
{
    
    <span id="-1060018944">public static void
                             main(
                             String[] args)
                                 throws Exception {
        <span id="-1975260457">int mode =
          Integer.
            parseInt(
            args[0]);</span>
        <span id="-1134979992">int[] itemIDs =
          { 111,
        23,
        2,
        123,
        24,
        57,
        75,
        125,
        55,
        19 };</span>
        <span id="-1406035271">int[] supplierWarehouseIDs =
          { 1,
        21,
        2,
        3,
        3,
        8,
        7,
        6,
        20,
        10 };</span>
        <span id="-1361122471">int[] orderQuantities =
          { 1,
        1,
        2,
        4,
        1,
        1,
        2,
        2,
        1,
        1 };</span>
        <span id="-703601138">PyxisTransactionExecutor exe =
          new PyxisTransactionExecutor(
          );</span>
        <span id="-2128041934">int[] numTransactions =
          { 10,
        50,
        100,
        500,
        1000,
        2000,
        3000,
        4000,
        5000,
        6000,
        7000,
        8000,
        9000,
        10000 };</span>
        {
            <span id="-1582031125">int j =
              0;</span>
            label$target: <span id="-486662837">while (j <
                                                         numTransactions.
                                                           length) {
                {
                    <span id="-1657006642">int numTransaction =
                      numTransactions[j];</span>
                    {
                        <span id="-190140139">int i =
                          0;</span>
                        label$target$1: <span id="-2016998208">while (i <
                                                                        numTransaction) {
                            {
                                <span id="-256727058">String r =
                                  exe.
                                    newOrderTransaction(
                                    1,
                                    1,
                                    1889,
                                    itemIDs.
                                      length,
                                    0,
                                    itemIDs,
                                    supplierWarehouseIDs,
                                    orderQuantities);</span>
                            }
                            <span id="-1511498726">i =
                              (int)
                                (i +
                                   1);</span>
                        }</span>
                    }
                }
                <span id="-842993066">j =
                  (int)
                    (j +
                       1);</span>
            }</span>
        }
    }</span>
    
    <span id="-1940732112">public TestMain() {
        <span id="-1865708285">super();</span>
    }</span>
    
    final public static String
      jlc$CompilerVersion$jl =
      "2.4.0";
    final public static long
      jlc$SourceLastModified$jl =
      1324506879000L;
    final public static String
      jlc$ClassType$jl =
      ("H4sIAAAAAAAAAIVXXWgcVRS++5NNN9m62TSpNU2TNEZtlO6KQhUiYggtjd3S" +
       "bdKmdkvZ3p25u5n2\n7sw4c3czSbUogq0FhWItClpfCgXpgxhQEFGh9beKko" +
       "f2qYVS8QdtwQexD4qee+/O7uzsNg3M7J17\nzzn3/HznJ+duoDbbQkOmQeeL" +
       "1GBJNm8SO5nBlk3UCYptexds5JTDH3c82rvvwkIIxbMorunTDDNN\nmTB0Rh" +
       "yWRbESKeWJZY+rKlGzKKETok4TS8NUWwBCQ8+iblsr6piVLWJPEdugFU7YbZ" +
       "dNYok73c00\niimGbjOrrDDDshnqSh/EFZwqM42m0prNxtIoUtAIVe1n0REU" +
       "SKO2AsVFIFyddq1ICYmpLXwfyDs0\nUNMqYIW4LOFDmq4yNOjnqFk8sg0IgL" +
       "W9RNisUbsqrGPYQN1SJYr1YmqaWZpeBNI2owy3MNR3W6FA\ntMLEyiFcJDmG" +
       "1vjpMvIIqKLCLZyFoV4/mZDkWKjPFzNPtHZEYv8ez/w9FBQ6q0ShXP82YBrw" +
       "MU2R\nArGIrhDJeKucPDm5t9wfRAiIe33Ekmb8vo92p3/9bFDSrG1BsyN/kC" +
       "gsp/yzqX/d0vhP0RBXY4Vp\n2BqHQoPlIqqZ6smYYwIWV9ck8sOke/j51Jd7" +
       "X3iP/B5E0UkUUQxaLumTKEp0daK6bod1WtOJ3N1R\nKNiETaIwFVsRQ3yDOw" +
       "oaJdwdYVhresFw1yZms2LtmAihdngC8Awg+ce/EUOxXcRm27GmJwGtJkMD\n" +
       "DL7tFDMVJaVQjegs5aVwuMCVc4EA2NXvzzEKgNxqUJVYOeXs9W+f27ztlWPB" +
       "GsqqqjDUw4UnpfCk\nKxwFAkLo3Y3O4t5XeZL88cFY12sb7Q+DKJRFUa1UKj" +
       "OcpwSSC1NqzBE1xwS6Eh4kCwAB+mJ5ACJg\nOkdBkAA+eKRioWE/4OppOgkr" +
       "DChaOvLfjzdzc4scGzyWPVy6VA0ic0jqFhud3v/0gWPDIU40F+aO\nBtKRO0" +
       "vPKTePb1+8dPHKhjqwGRppyrdmTp4vfvUzlqEQFepRXfyZe+KhPWjmRJADIg" +
       "pliIGreU4P\n+O9oyJsxtwZxZwXTqLNgWCVM+ZFbODrYrGXM1XcEMDr5Ky4x" +
       "wp3lU1CUr1svRR6+/EnnF0FvpYt7\nSuI0YTJvEnVf77IIgf0rb2Zef+PG0X" +
       "3C0VVPMxQxy3mqKY5QpDcAgV3VIoeTa3pOnhp9+7IbyVV1\n6eOWhed5IJ0X" +
       "l9a99RV+B/Ib8szWFohIHSRuQu4F/D0q1g96Dvn3UJWEg8ufHVt4hXcjU8of" +
       "/uv8\n6Y4hqQzn6fPesV68R6oW8vX9ruT65TUOC627XeUUVf/oM3/GXsYX9s" +
       "v61t2YYJv1cumX+fPkgSde\nvdYiV6PMMDdSUiG0bpn/tu2io7imxfcMXtuy" +
       "6ezzftN4Sgwuy5lTEpW1O0Oz2teQ5LVsaGppjUxj\nXo0BlhaBjqxz2/lOuw" +
       "jLgFDjLlAiDs8oPNFqERS//LDL5O9EFbpNMQiKGADUbDEmtEZCoGanv5MJ\n" +
       "gMlm88N3v128iDeeERkZzmNb6ukfAZo7fEPjFnpGa2b1wTO0nFmCshtGDwF6" +
       "XhyTss23UN7fURuA\nm1MWPt19+tb37KoAS72kcDmDTjPsZ7Cn2j1+qZKIvP" +
       "9uKYjas6hLTEVYZzOYlnl2Z8Fqe6K6mUYr\nG84bZxTZkMdqIOn3g8Rzrb+Y" +
       "eeESZg1AEfVr0gkg4badLXDAQJamYypzEgBBiV5ksy3clrG0EvT5\nSnUQOT" +
       "Fw5ufF61M9Qc+0dm/TwOTlkROb0KvD5Fm+frkbBPWFh9afOzJ1NR+s1qPHGA" +
       "oBkPhyq1ML\ndVCa4mJiVR0TE9TQCW+r7plsd5qRrM2+cOg0gYZ/Pyl9J+7i" +
       "r0eWrZZ3LKV58LTC1WkBXRl9Z/ks\nbLZus6MQk09e4oKnGAqXALqCcMaUwv" +
       "bCZsXQVIjsCncy4c1iTdO/E3LoVYaXDmw4bya+kensDqYR\nmA4LZUq9SPOs" +
       "I6ZFCprQIiJxZ4ofxlCnZzYCdMmFUM2WNHOgIafha0fAdNb5H1vgjnn0DAAA");
}
