html { 
  padding:0px;
  margin:0px;
}

body {
  background-color: #fff;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color: #000;  
  padding:0px;
  margin:0px;
  font-size: small;
}

#job img { border:1px solid #DDDDDD; }
#job:hover img {   border:1px solid #8888EE; }

p, h2, pre {
 margin: 0px; 
 padding-top: 5px;
 padding-bottom: 5px;
 /*padding-left: 1ex;*/
 /*padding: 5px 20px 5px 20px; */
}

p.rm {
 padding-top: 0px;
 padding-bottom: 0px; 
}

a { 
 color: #4183c4;
 /*font-size: smaller;*/
 background-color:transparent;
 text-decoration: none; 
}

#content a:hover {
 text-decoration: underline;
}

.source { 
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background:#f5f5f5;
  font-family: Courier, "MS Courier New", Prestige, Everson Monocourrier, monospace;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  padding-left: 1ex;

  margin-left: 0ex;
  margin-top: 0.5ex; 
  margin-bottom: 0.5ex; 
  white-space: pre;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre { 
 background-color:transparent;
 font-family: Monaco, Andale Mono, Courier New, monospace;
}

.alignright {
 margin-top: 0; 
 text-align: right;
 font-size: 10px;
}

h1, h2, h3, h4 {
  color: #333;
}

h2 {
  padding-top:10px; 
  background-color: transparent;
  font-weight: 900;
  font-size: x-large;
}

h3 {
  padding-top: 5px; 
  background-color: transparent;
  font-weight: normal;
  font-size: large;
}

h4 {
  padding-top:5px; 
  background-color: transparent;
  font-weight: normal;
  font-size: large;
}

table.footer {
  width: 100%;
}

.footer {
  text-align: right;
  color: #564b47;
  background-color: #fff;
  padding:0px;
  border-top:  1px solid #CCCCCC;
  margin-top: 3ex;
	font-size: smaller;
}


strong { 
  /*font-size: 13px;*/
  font-weight: bold;
}

/*  positioning-layers static and absolute */

#breadcrumbs {
	padding: 3px 10px 3px 10px;
  margin: 0px 4px 0px 4px;
	font-size: small;
	border: 1px solid #CCCCCC;
	/*border-bottom: 1px solid #aaa;
  /* background-color: #ccc; lime;
  border-color: #663300;*/
	background-color: #ffd0a0;
	/*max-width: 77em;*/
}

#left {
  position: absolute;
  left: 0px;
  width: 15em;
  margin: 4px 0px 0px 4px; 
  padding: 0px;
  font-size: 80%;
  background-color: #ffffff;
}

.menuGroup {
  border: 1px solid #cccccc;  
  background-color: #fff8e8;
  color: #564b47;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.menuGroup a {
  display: block; 
  width: 95.5%; 
  margin: 0px; 
  padding: 2px; 
  border: solid 1px #fff8e8; 
  color: #0066cc; 
  text-decoration: none;
}

.menuGroup a:hover {
  border: solid 1px #FFFFFF; 
  background-color: #3333CC; 
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pub {
  text-align: center;
}


p.menu_header {
  margin: 0px; 
  padding: 2px;
  font-weight: normal; 
  background-color: #ffd0a0; 
  border-top: solid 1px #CCCCCC;
  border-bottom: solid 1px #CCCCCC;
}

#content {
  margin: 0px 12em 0px 16em;
  padding: 0px;
  background-color: #ffffff;  
}


#content img {
	border:none;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.author {
	text-align: left;
	font-weight: bold;
}

.definition {
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px 50px 5px 50px;
	text-align: justify;
	background-color: #E6E64C;
}

.deftitle {
	font-weight: bold;
}

.big {
  font-size: 130%;
}

.green {
	color: green;
}
.blue {
	color: blue;	
}

.red {
	color: red;	
}

.bold {
	font-weight: bold; 
}

.redBold {
	color: red;
	font-weight: bold;	
}
.greenBold {
	color: green;	
  font-weight: bold;	
}

code {
	font-family: Courier, monospace;
}


.option {
  border: 1px solid black;
  font-family: Arial, sans-serif;	
}
.highlight {
  width: 18em;
  float: right;	
  display: inline;
  font-size: 110%;

  border: 2px solid #711;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background:#FFE0B0;	
  padding-top: 1ex;
  padding-left: 1ex;
  padding-right: 1ex;
  padding-bottom: 1ex;
  margin-left: 1em;
  margin-right: 0em;
  margin-bottom: 1ex;
}


.survey { 
  font-weight: bolder;
  font-size: larger;  

  border:1px solid #cccccc;
  background:#FFCC99;	
  padding-left: 1ex;
  padding-right: 1ex; 
}
/* ========== body table ============ */
table.bodyTable {
	padding: 0px;
	margin-left: -2px;
	margin-right: -2px;
}

table.bodyTable th {
	color: white;
	background-color: #bbb;
	font-weight: bold;
}


table.bodyTable td {
  padding-left: 0.5ex;
  padding-bottom: 0.5ex;
}


/* apply to tr elements of tables which are both bodytable and dark */
table[class="bodyTable dark"] tr {
	background-color: #ddd;
}

/* apply to tr elements of tables which are both bodytable and dark */
table[class="bodyTable properties"] tr {
	vertical-align: top;
}

table.bodyTable tr.a {
	background-color: #ddd;
}

table.bodyTable tr.b {
	background-color: #eee;
}

table.bodyTable tr.alt {
	background-color: #eee;
}

.striped tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
.striped td {
  background-color: #f0f0f0;
}

/* EOF =============== bodyTable =============== */

.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label.notice {
  background-color: #62cffc;
}
